.title{
	text-align: center;
	font-family: Abril Fatface;
	font-size: 60px;
	font-weight: bold;
	padding: 2px;
	font-style: bold;
}
.about{
	  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.image{
	width: 300px;
	height: 300px;
	border-radius: 80px;
}
.text{
	font-style: Smooch Sans;
}