.title{
	text-align: center;
	font-family: Abril Fatface;
	font-size: 60px;
	font-weight: bold;
	padding: 2px;
	font-style: bold;
}
.about{
	  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.image{
	width: 300px;
	height: 300px;
	border-radius: 80px;
}
.text{
	font-style: Sansita Swashed;

}
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}
.flexbox{
	display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  color: black;

}